<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mouse_Mender.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Mouse_Mender.Properties.Settings>
            <setting name="IgnoredUpdateVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckForUpdatesonLaunch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableHotkeys" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExittoSystray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Hotkey" serializeAs="String">
                <value>Shift + L</value>
            </setting>
            <setting name="MonitorPreference" serializeAs="String">
                <value>PrimaryMonitor</value>
            </setting>
            <setting name="AutoEnable" serializeAs="String">
                <value>False</value>
            </setting>
        </Mouse_Mender.Properties.Settings>
    </userSettings>
</configuration>